<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List Apps</title>
    <script src="angular.js"></script>
  
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
    <h1 style="color: red;">4CB21CG014</h1>
    <h1>Shopping List</h1>
    <ul>
        <li  ng-repeat="items in  items">{{items}}</li>
    </ul>
    <input type="text" ng-model="newItem" placeholder="Enter the items:">
    <button ng-click="addItems()">Add Items</button>
    <button  ng-click="removeItems(index)">Remove Items</button>
    <script>
        var app=angular.module("myApp" , []);
        app.controller("myCtrl",function($scope){
            $scope.items=["apps","milk","Bag","Books","Lens"];
            $scope.addItems=function(){
                $scope.items.push($scope.newItem);
                $scope.newItem= "";
            };
            $scope.removeItems=function(index){
                $scope.items.splice(index , 1);
            };
        });
    </script>
</body>
</html>